.allgroups.left .ant-list-item {
    cursor: pointer;
}

.allgroups.left .ant-list-item .ant-list-item-meta {
    margin-left: 20px;
}

.allgroups.left .ant-list-item:hover {
    background: rgba(0, 0, 0, .10);
}
