.homepage{
	background: #F4F4F4;
	min-height:100vh;
	overflow: hidden;
}

.layout{
    background: rgba(0,0,0,0)!important;
    padding: 0px 40px 10px 40px;
    max-width: 1000px;
}

.rightMenu{
    margin-top: 23px;
    float: right;
}

.rightMenu p{
    font-size: 16px;
    font-family: Poppins;
    color: #363841;
    font-weight: 600;

    -webkit-transition: opacity 0.1s ease-in-out;
   -moz-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

.rightMenu p:hover{
    cursor: pointer;
    opacity: .7
}

.twentyspace{
    height: 20px;
}

.footer {
    background: #EBEDF0!important;
    justify-content: center;
}

.myemail{
    padding-top: 35px;
        font-weight: 600;
            margin-left: 60px;
    float: left;
}

.footer_content{
    padding: 100px 40px;
    max-width: 1000px;
    margin: auto;
}

.mail_logo{
    padding-top: 18px;
    width: 90px;
    float: left;
}

.home_logo {
    float: left;
    width: 90px;
    background: none;
    cursor: pointer;
    z-index: 5;

    -webkit-transition: opacity 0.1s ease-in-out;
   -moz-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
  }

.home_logo:hover {
    opacity: .8
  }

.ant-layout-header {
    padding: 0 0px!important;
}

.headerh1{
	font-family: Poppins;
	color: #363841;
    font-size: 32px;
    font-weight: 600;
}

.subtitle{
	font-family: Poppins;
	color: #363841;
	font-size: 16px;
}

.leftArea{
	padding-top: 40px;
}

.calltoaction{
    width: 190px;
    height: 41px!important;
}

.subtitleArea {
    border-left: 5px solid #C6C6C6;
    padding-left: 20px;
}

.content{
    padding-top: 140px;
    padding-bottom: 160px;
}

img.side_image {
    width: 100%;
}

.myfancybutton:hover{
	   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.contactUs{
	font-size: 17px;
}

.rightArea{
    display: flex;
    justify-content: center;
}

.header_back {
    width: 100%;
    height: 64px;
    background: #001529;
    position: absolute;
    left: 0;
    top: 0;
}

.header{
    z-index: 5;
}

.righButtons {
    margin-left: auto;
}

.ant-btn.headerButton:hover, .ant-btn.headerButton:focus, .ant-btn.headerButton:active{
    color: white;
    border-color: white;
    opacity: .8;
}

/* Making it somewhat responsive */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 930px) {

    .headerh1{
    font-size: 26px;
}

.subtitle{
    font-size: 14px;
}

.leftArea{
    padding-top: 35px;
}

}

@media only screen and (max-width: 767px) {

img.side_image{
    width: 350px;
    padding-top: 60px;
}

.rightArea{
    display: none;

}

.lastFooterSection{
    padding-top: 40px;
}

.myemail{
            margin-left: 10px;
}

.content{
    padding-top: 100px;
    padding-bottom: 160px;
}

}
