.full_height {
    height: 100vh!important;
    background: #F4F4F4;
}

.left_col {
  background-color: white;
  background: white;
}

.right_col {
  background-color: #F4F4F4;
  background: #F4F4F4;
}

.settingsIcon {
    cursor: pointer;
}
/* Putting the Icons on the right side of the header */

.settingsIcon3 {
    margin-left: 20px;
    margin-top: 15px;
    float: right;
    cursor: pointer;
}

.ant-layout-header {
    padding: 0 20px!important;
}

.logo {
    display: inline-block;
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin-top: 16px;
}

.header.ant-layout-header {
  text-align: center;
}

.mySearch {
    padding: 10px;
}

.groupEl {
    height: 106px;
    display: flex;
    text-align: left;
}

.groupEl h3 {
    margin: 19px;
    margin-left: 0px;
    margin-bottom: 5px;
}

.highlight_bar {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #efafaf;
    margin: 24px;
}

.groupEl p{
    font-size: 12px;
}

.groupEl:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.collection-create-form_last-form-item {
  margin-bottom: 0;
}

.allgroups{
  flex: 2 ;
  overflow: auto;
}


.mySlider{
    height: calc(100vh - 64px);;
    position: absolute;
}

.hamburger {
    color: white;
    margin-top: 22.5px;
    padding-right: 20px;
    display: none!important;
}

.menuItem {
    z-index: 5;
    cursor: pointer;
}

.menuItem:hover {
    opacity: .8;

    -webkit-transition: opacity 0.1s ease-in-out;
   -moz-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

/* THE SCROLLING STUFF */
.ant-col-4.left_col.full_height {
    display: flex;
    flex-flow: column;
    height: 100%;
}
html, body
{
    height: 100vh;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.05);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.2);
}

/* Sharable Link Stuff */

button.clipboard {
    background: none;
    -webkit-appearance: caret!important;
    width: 100%;
    cursor: pointer;
}

.copySearch input {
    pointer-events: none;
}

span.ant-time-picker {
    margin-left: 20px;
}


.DateInput_input {
    font-size: 14px!important;
    line-height: 1.5!important;
    color: rgba(0, 0, 0, 0.65)!important;
    border-radius: 4px!important;
    padding: 4px 11px!important;
    height: 32px!important;
}

.DateInput_input__focused {
    border-color: #40a9ff!important;
    border-right-width: 1px !important;
    border-bottom: 0px!important;
}

.header.ant-layout-header {
    width: 100%;
}

.ant-col-20.right_col.full_height {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eventArea {
    height: 60px;
    border-top: 1px #d1d1d1 solid;
}

.eventButton {
    margin-top: 15px;
    margin-left: 30px;
    float: left;
}

.eventContainer {
    flex: 2 1;
    overflow: auto;
    margin-left: 360px;
}

.eventRestriction {
    width: 100%;
    margin-top:85px;
}

.ant-list-item.Event {
    border-radius: 5px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ant-list-split .ant-list-item.Event {
    border-bottom: 1px solid rgba(0,0,0,0);
}

.howMany{
    float:right;
}

.ant-list-item-extra {
    position: absolute;
    right: 25px;
}

.ant-list-item.Event.Green {
    background: #399E5A;
}

.ant-list-item.Event {
    -webkit-transition: background-color 50ms ease-in-out;
    -ms-transition: background-color 50ms ease-in-out;
    transition: background-color 50ms ease-in-out;
    background: white;
}

.rsvpButton:focus, .rsvpButton:active {
    color: white!important;
    background-color: #fff;
    border-color: white!important;
}


/*. New UI stuff */

img.whitelogo {
    margin: 40px 0px 40px 20px;
    width: 150px;
}

.groupListHeader {
    background: rgba(255,107,98,.1);
    line-height: 40px;
}

p.grouListHeaderText {
    margin-bottom: 0px;
    font-family: Poppins;
    font-weight: 800;
    color: #363841;
    float: left;
    font-size: 12px;
}

.groupListHeader {
    padding: 0px 20px;
}

.settingsIcon2{
    margin-top: 3px;
    float: right;
    border-radius: 4px!important;
}

button.ant-btn.settingsIcon2.ant-btn-circle.ant-btn-icon-only {
    background: rgba(0,0,0,0);
    border: 2px solid #DFE1EC;
}

.largeBoi {
    float: none;
    width: 100%!important;
    margin-bottom: 10px;
}

.largeBoiContainer {
    padding: 20px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
}

.pageTitle {
    float: left;
    font-weight: 700;
}

.settingsIcon4{
    float: left;
}

.header.ant-layout-header {
    width: 100%;
    display: flex;
}


/*Button stuff cause im too lazy to figure out the propper way*/
    .ant-btn-primary {
    color: #fff;
    background-color: #FF5E5A!important;
    border-color: #FF5E5A!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #E2463C!important;
    border-color: #E2463C!important;
}

.infoParent {
    float: left;
    padding: 15px;
}

.pageTitle{
    float: left;
}

.titleBlock{
    margin: auto;
}

.settingsIcon3 {
    float: left;
}

h1.bigTitle {
    font-weight: 700;
    color: #363841;
    font-size: 26px;
    float: left;
}

.eventContainer{
    padding-top: 50px;
}

.Event {
    background: white;
    border-radius: 10px;
    padding: 40px 30px;
    margin-bottom: 15px;
    display: flex;
}

.Event h4 {
    font-weight: 700;
    font-size: 18px;
}

.rightSide {
    margin-left: auto;
    order: 2;
    align-items: center;
    display: flex;
}

.RSVPDIV{
    float: right;
}

.myCoolButton {
    border-radius: 11px;
    padding: 10px;
    line-height: 28px;
    padding: 10px 20px;
    background: #FF6B62;
    color: white;
    cursor: pointer;
}

.myCoolButton:hover {
    background: #E2463C;
}

.myCoolButton p{
    margin-bottom: 0px;
    font-family: Poppins;
    font-size: 14px;
    color: white;
}

.howManyHolder {
    pointer-events: none;
    background: #F0F1F8;
    margin-right: 15px;
    cursor: default;
}

p.howMany {
    color: #9FA2B6;
}

.disabled{
    pointer-events: none;
    background: #F0F1F8;
    color: #9FA2B6;
}

.Event.Green{
    background: #76945F;
}

.cancel {
    background: #9A9A9A;
}

.cancel:hover {
    background: #888888;
}

.Event.Green .howManyHolder {
    background: none;
    border: 1px solid #F0F1F8;
    color: #F0F1F8;
}

.Event.Green .howManyHolder p{
    color: #F0F1F8;
}

.Event.Green h4 {
    color: white;
}

.timeBlock {
    font-weight: 700;
    color: #9FA2B6;
    font-size: 16px;
}

.Event.Green .timeBlock{
    color: #E0E4FF;
}

.shareEventArea {
    border-radius: 10px;
    padding: 40px 30px;
    margin-bottom: 15px;
    border: 1px dashed #CACACA;
    display: flex;
    flex-direction: column;
        text-align: center;
}

.shareEventArea h4 {
    color: #9FA2B6;
}

.shareEventArea input.ant-input {
    background: none;
}

.shareEventArea button.clipboard {
    max-width: 550px;
    margin: auto;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: rgba(0,0,0,0)!important;
    border-right-width: 1px !important;
    background-color: rgba(0,0,0,.05);
}

.layout_dash{
    padding: 0px 40px 10px 40px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* FIXING ALL OF THAT RESPONSIVE LAYOUT SHIT */



/*. DESKTOP STUFF */

    .ant-row{
        display: flex!important;
    }

    .ant-col-4.left_col.full_height {
        width: 300px;
    }

    .ant-col-20.right_col.full_height {
        overflow: hidden;
        flex: 1 0 0;
    }


/*. MOBILE STUFF */


